<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.BabyDiaryMapper">
	<select id="question" resultType="questionVO">
		select * from question
		<where>
			QUST_NO=#{qust_no}
		</where>
	</select>

	<select id="reserlist" resultType="map">
		   select
		TO_CHAR(r.RESV_DATE,'YYYY-MM-DD') AS
		RESV_DATE,r.baby_no,r.resv_status,r.resv_no,p.pay_state from reservation r
		LEFT JOIN payment p on r.resv_no = p.resv_no
		where r.baby_no=(select baby_no from baby where baby_no=#{baby_no})
    	and r.resv_no = p.resv_no
		order by r.resv_date
	</select>

	<select id="getBabyList" resultType="BabyVO">
		select *
		from baby
		where
		parent_no=#{parent_no}
	</select>
	<select id="getBabyinfo" resultType="BabyVO">
		select *
		from baby
		where
		parent_no=#{parent_no} and baby_no=#{baby_no}
	</select>

	<select id="unpayList" resultType="reservation">
		select *
		from reservation
		where
		resv_no=#{resv_no}
	</select>

	<select id="allreser" resultType="map">
	  select TO_CHAR(r.RESV_DATE,'YY/MM/DD') AS
	  RESV_DATE, r.resv_status, d.dis_name
  	  from reservation r
   	  left join DIAGNOSIS b on r.resv_no = b.resv_no
      left join disease d on b.dis_code=d.dis_code
   	  where baby_no = #{baby_no} order by RESV_DATE DESC
	</select>

	<insert id="insertbodyinfo" parameterType="bodyVO">
		insert into
		BODYINFO(baby_no,body_no,body_height,body_weight,body_date,baby_no)
		values(#{baby_no},#{body_no},#{body_height},#{body_weight},#{body_date},#{baby_no})
	</insert>


	<select id="checkBody" resultType="BodyVO"
		parameterType="BodyVO">
		select *
		from BODYINFO
		where
		baby_no=#{baby_no}
		ORDER BY
		BODY_DATE DESC
	</select>

	<select id="checkTemporature" resultType="TemporatureVO"
		parameterType="TemporatureVO">
		select *
		from TEMPORATURE
		where
		baby_no=#{baby_no}
		ORDER BY
		TEMP_DATE DESC
	</select>
	<delete id="bodyDel" parameterType="bodyVO">
		DELETE FROM BODYINFO
		WHERE
		body_no = #{body_no}
	</delete>

	<delete id="deleteTemp" parameterType="TemporatureVO">
		DELETE FROM TEMPORATURE
		WHERE temp_no = #{temp_no}
	</delete>

	<insert id="insertBodyInf" parameterType="bodyVO">
		<selectKey order="BEFORE" keyProperty="body_no"
			resultType="string">
			SELECT NVL(MAX(BODY_NO),0)+1 FROM BODYINFO
		</selectKey>
		insert into
		BODYINFO(body_no,body_height,body_weight,body_date,baby_no)
		values(#{body_no},#{body_height},#{body_weight},SYSDATE,#{baby_no})
	</insert>

	<insert id="insertTempInf" parameterType="temporatureVO">
		<selectKey order="BEFORE" keyProperty="temp_no"
			resultType="string">
			SELECT NVL(MAX(TEMP_NO),0)+1 FROM TEMPORATURE
		</selectKey>
		insert into
		TEMPORATURE(temp_no,temp_temp,temp_date,baby_no)
		values(#{temp_no},#{temp_temp},SYSDATE,#{baby_no})
	</insert>

</mapper>
