<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.BabyMainMapper">
	<select id="getBabyInf" resultType="babyVO">
		select *
		from baby 
		where parent_no = #{parent_no}
	</select>
	
	<insert id="insertbabyinfo" parameterType="BabyVO">
		<selectKey order="BEFORE" keyProperty="baby_no"
			resultType="string">
			SELECT NVL(MAX(baby_no),0)+1 FROM BABY
		</selectKey>
		insert into baby(baby_no,baby_name,baby_regno1,baby_regno2,baby_blood,baby_gender,baby_pic,parent_no)
		values(#{baby_no},#{baby_name},#{baby_regno1},#{baby_regno2},#{baby_blood},#{baby_gender},#{baby_pic},#{parent_no})
	</insert>
	
	<update id="updatebabyinfo" parameterType="babyVO">
		update baby set 
						<if test="baby_name != null and baby_name != ''">
						baby_name=#{baby_name},
						</if>
						<if test="baby_regno1 != null and baby_regno1 != ''">
						baby_regno1=#{baby_regno1},
						</if>
						<if test="baby_gender != null and baby_gender != ''">
						baby_gender=#{baby_gender},
						</if>
						<if test="baby_blood != null and baby_blood != ''">
						baby_blood=#{baby_blood},
						</if>
						<if test="baby_pic != null and baby_pic != ''">
						baby_pic=#{baby_pic}
						</if>
		where baby_name = #{baby_name} and parent_no = #{parent_no}
	
	</update>
	<select id="getInfo" parameterType="babyVO" resultType="babyVO">
		select *
		from baby
		where baby_name=#{baby_name} and parent_no =#{parent_no} 
	</select>
	
	
	

</mapper>
