<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.BabyDiaryMapper">
	<select id="question" resultType="questionVO">
		select * from question
		<where>
			QUST_NO=#{qust_no}
		</where>
	</select>

	<select id="reserlist" resultType="reservation">
		select TO_CHAR(RESV_DATE,'YYYY-MM-DD') AS RESV_DATE,baby_no,resv_status,resv_no from reservation
		where baby_no=(select baby_no from baby where baby_no=#{baby_no})
		order by resv_date
	</select>

	<select id="getBabyList" resultType="BabyVO">
		select *
		from baby
		where parent_no=#{parent_no}
	</select>
	<select id="getBabyinfo" resultType="BabyVO">
		select *
		from baby
		where parent_no=#{parent_no} and baby_no=#{baby_no}
	</select>

	<select id="unpayList" resultType="reservation">
		select *
		from reservation
		where
		resv_no=#{resv_no}
	</select>

	<select id="allreser" resultType="map">
		select a.resv_date,d.dis_name,a.resv_status
		from reservation a ,DIAGNOSIS b,disease d
		where a.resv_no=b.resv_no
		and b.dis_code=d.dis_code
		and a.baby_no = (select baby_no from baby where baby_no=#{baby_no})
	</select>
</mapper>
