<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.BabyDiaryMapper">
	<select id="question" resultType="questionVO">
		select * from question
		<where>
			QUST_NO=#{qust_no}
		</where>
	</select>

	<select id="reserlist" resultType="reservation">
		select
		TO_CHAR(RESV_DATE,'YYYY-MM-DD') AS
		RESV_DATE,baby_no,resv_status,resv_no,resv_payyn from reservation
		where baby_no=(select baby_no from baby where baby_no=#{baby_no})
		order by resv_date
	</select>

	<select id="getBabyList" resultType="BabyVO">
		select *
		from baby
		where
		parent_no=#{parent_no}
	</select>
	<select id="getBabyinfo" resultType="BabyVO">
		select *
		from baby
		where
		parent_no=#{parent_no} and baby_no=#{baby_no}
	</select>

	<select id="unpayList" resultType="reservation">
	 	select *
		from reservation
		where
		resv_no=#{resv_no}
	</select>

	<select id="allreser" resultType="map">
		select
		TO_CHAR(a.RESV_DATE,'YYYY-MM-DD') AS
		RESV_DATE,d.dis_name,a.resv_status
		from reservation a ,DIAGNOSIS
		b,disease d
		where a.resv_no=b.resv_no
		and b.dis_code=d.dis_code
		and
		a.baby_no = (select baby_no from baby where baby_no=#{baby_no})
	</select>

	<insert id="insertbodyinfo" parameterType="bodyVO">
		insert into
		BODYINFO(baby_no,body_no,body_height,body_weight,body_date,baby_no)
		values(#{baby_no},#{body_no},#{body_height},#{body_weight},#{body_date},#{baby_no})
	</insert>


	<select id="checkBody" resultType="BodyVO" parameterType="BodyVO">
		select *
		from BODYINFO
		where
		baby_no=#{baby_no}
		ORDER BY BODY_DATE DESC
	</select>

	<select id="checkTemporature" resultType="TemporatureVO" parameterType="TemporatureVO">
		select *
		from TEMPORATURE
		where
		baby_no=#{baby_no}
		ORDER BY TEMP_DATE DESC
	</select>
	<delete id="bodyDel" parameterType="bodyVO">
		DELETE FROM BODYINFO
		WHERE body_no = #{body_no}
	</delete>
</mapper>
