<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.BabyMainMapper">
	<select id="getBabyInf" resultType="BabyVO">
		select * 
		from baby where parent_no = 1 
	</select>
	
	<insert id="insertbabyinfo" parameterType="BabyVO">
		<selectKey order="BEFORE" keyProperty="baby_no"
			resultType="string">
			SELECT NVL(MAX(temp_NO),0)+1 FROM BABY
		</selectKey>
		insert into baby(baby_no,baby_name,baby_pic,baby_regno1,baby_blood,baby_gender)
		values(#{baby_no},#{baby_name},#{baby_pic},#{baby_regno1},#{baby_blood},#{baby_gender})
	</insert>

</mapper>
