<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.CheckHistMapper">
	<select id="checkHistlist" resultType="map">
		select b.chk_name ,b.chk_total,a.hist_count,a.hist_state from
		CHECKHIST a,CHECKUP b
		<where>
			a.chk_no=b.chk_no and a.baby_no=1
		</where>
	</select>

</mapper>
