<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.CheckHistMapper">
	<select id="checkHistlist" resultType="checkHistVO">
		select * from CHECKHIST 
		<where>
				BABY_NO = 1
		</where>
	</select>

</mapper>
