<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.DiagMapper">
	
	<select id="getResvList" resultType="map">
		SELECT R.RESV_NO,
		R.RESV_DATE || ' ' || R.RESV_TIME AS RESV_DATETIME,
		B.BABY_NAME,
		B.BABY_REGNO1, R.RESV_STATUS,R.CHK_TYPE,
		B.BABY_NO,
		E.EMP_ROOM
		FROM RESERVATION R, BABY B, EMPLOYEE E
		WHERE R.RESV_ROOM = E.EMP_ROOM
		AND R.BABY_NO = B.BABY_NO
		AND TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE,'YYYY-MM-DD')
		AND E.EMP_ROOM = #{emp_room}
		AND R.RESV_STATUS != 'Y'
		ORDER BY RESV_NO,RESV_DATE
	</select>
	
	<select id="getResvHistList" resultType="map">
		SELECT D.*, B.*,E.*, R.*
		FROM DIAGNOSIS D, BABY B , EMPLOYEE E, RESERVATION R
		WHERE R.RESV_NO = D.RESV_NO
		AND B.BABY_NO = R.BABY_NO
		AND E.EMP_NO = D.EMP_NO
		AND R.BABY_NO = #{baby_no}
	</select>

	<select id="getInfoList" resultType="map">
		SELECT B.*, P.* FROM BABY B, PARENT P
		WHERE B.PARENT_NO = P.PARENT_NO
		<if test="baby_no != null and baby_no != ''">
			AND BABY_NO = #{baby_no}
		</if>
	</select>

	<select id="getUniqInfo" resultType="map"
		parameterType="reservation">
		SELECT * FROM RESERVATION
		<where>
			<if test="resv_no != null and resv_no != ''">
				RESV_NO = #{resv_no}
			</if>
		</where>
	</select>
	<select id="getBodyList" parameterType="BodyVO"
	resultType="BodyVO">
	SELECT * 
	FROM 
	BODYINFO 
	WHERE BABY_NO = #{baby_no}
	</select>
	
	<select id="getDiagDetail" resultType="DiagnosisVO">
	SELECT * FROM DIAGNOSIS WHERE DIAG_NO = #{diag_no}
	</select>
	
	<select id="getDiagDetail2" resultType="map"
		parameterType="DiagnosisVO">
		SELECT B.DIS_NAME 
		FROM DIAGNOSIS A , DISEASE B
		<where>
			(A.DIS_CODE=B.DIS_CODE) AND RESV_NO = #{resv_no}
		</where>
	</select>
	
	<select id="getMedicine" resultType="map"
		parameterType="PrescriptionVO">
		SELECT P.*, M.*
		FROM PRESCRIPTION P, MEDICINE M
		WHERE P.MEDI_NO = M.MEDI_NO
		<if test="resv_no != null and resv_no != ''">
			AND RESV_NO = #{resv_no}
		</if>
	</select>
	
	<select id="getDisease" resultType="diseaseVO"
	parameterType="diseaseVO">
	SELECT * FROM DISEASE
	<where>
		<if test="keyword !=null and keyword != ''">
		 DIS_NAME LIKE '%'||#{keyword}||'%'
		 </if>
	</where>
	</select>
	
	<select id="getMedineList" resultType="medicineVO"
	parameterType="medicineVO">
	SELECT * FROM MEDICINE
	<where>
			<if test="keyword !=null and keyword !=''">
				MEDI_NAME LIKE '%'||#{keyword}||'%'
			</if>
		</where>
	</select>
	
  	<insert id="insertDiagList" parameterType="DiagnosisVO">
		<selectKey order="BEFORE" keyProperty="diag_no" resultType="String">
			SELECT NVL(MAX(DIAG_NO),0)+1 FROM DIAGNOSIS
		</selectKey>
		INSERT INTO DIAGNOSIS(diag_no,
							  diag_time,
							  resv_no,
							  emp_no,
							  diaglist_memo,
							  dis_code
		)
		VALUES(
		#{diag_no},
		SYSDATE,
		#{resv_no},
		#{emp_no},
		#{diaglist_memo},
		#{dis_code}
		)
	</insert> 
	 
	 <insert id="insertPres" parameterType="prescriptionVO">
		<selectKey order="BEFORE" keyProperty="pres_no" resultType="String">
			SELECT NVL(MAX(PRES_NO),0)+1 FROM PRESCRIPTION
		</selectKey>
		 INSERT INTO PRESCRIPTION(PRES_NO,
		 						 PRES_COUNT,
		 						 PRES_ACCOUNT,
		 						 PRES_TOTAL,
		 						 PRES_DATE,
		 						 RESV_NO,
		 						 MEDI_NO)
			VALUES(#{pres_no},
		     		#{pres_count},
		     		#{pres_account},
		     		#{pres_total},
		     		SYSDATE,
		     		#{resv_no},
		     		#{medi_no})
	</insert>
	
	<select id="getPrescription" resultType="map"
		parameterType="PrescriptionVO">
		SELECT P.*, M.*
		FROM PRESCRIPTION P, MEDICINE M
		WHERE P.MEDI_NO = M.MEDI_NO
		<if test="resv_no != null and resv_no != ''">
			AND RESV_NO = #{resv_no}
		</if>
	</select>
	<update id="updatePrescription" parameterType="PrescriptionVO">
	UPDATE PRESCRIPTION
	SET PRES_COUNT = #{pres_count},
 		PRES_ACCOUNT = #{pres_account},
		PRES_TOTAL = #{pres_total},
		PRES_DATE = SYSDATE
		WHERE PRES_NO = #{pres_no}
	</update> 
	
	<delete id="deletePrescription" parameterType="PrescriptionVO">
	DELETE FROM PRESCRIPTION
	WHERE PRES_NO = #{pres_no}
	</delete>
	
	<update id="UpdateDiagStatus" parameterType="reservation">
		UPDATE RESERVATION
		SET RESV_STATUS = #{resv_status}
		WHERE RESV_NO = #{resv_no}
	</update>
	
	<select id="getInjection" resultType="map">
		SELECT R.*, C.*, E.*, H.*
		FROM CHECKUP C, RESERVATION R, EMPLOYEE E, HOSPITAL H
		WHERE R.CHK_NO = C.CHK_NO
   		AND E.EMP_NO = #{emp_no}
		AND RESV_NO = #{resv_no}
	</select>
	<insert id="insertInjection" parameterType="CheckHistVO">
		<selectKey order="BEFORE" keyProperty="hist_no" resultType="String">
			SELECT NVL(MAX(HIST_NO),0)+1 FROM CHECKHIST
		</selectKey>
	INSERT INTO CHECKHIST(HIST_NO,
						  CHK_NO,
						  HIST_STATE,
						  RESV_NO,
						  HIST_DATE
	
	)
				  VALUES(#{hist_no},
				  		 #{chk_no},
				  		 #{hist_state},
				  		 #{resv_no},
				  		 SYSDATE
	
	)
	</insert>
	<select id="getCheckHist" resultType="map">
		SELECT H.RESV_NO,
		H.HIST_STATE, 
		H.CHK_NO, 
		H.HIST_NO,
		TO_CHAR(H.HIST_DATE, 'YYYY-MM-DD') HIST_DATE,
		C.CHK_NO,
		C.CHK_NAME,
		C.CHK_FIRST,
		C.CHK_DIS,
		C.CHK_COM,
		C.CHK_PRO,
		C.CHK_PRICE,
		R.RESV_NO,
		R.RESV_DATE,
		R.RESV_TIME,
		R.RESV_STATUS,
		R.RESV_PAYYN,
		R.RESV_ROOM,
		R.BABY_NO,
		R.RESV_TYPE,
		R.CHK_TYPE,
		R.CHK_NO
		FROM CHECKHIST H, CHECKUP C, RESERVATION R
		WHERE H.CHK_NO = C.CHK_NO
   		AND R.CHK_NO = C.CHK_NO
   		AND H.RESV_NO = R.RESV_NO
		AND H.HIST_STATE = 'Y'
    	AND R.BABY_NO = #{baby_no}
    	ORDER BY H.HIST_DATE, C.CHK_FIRST
	</select>
	<insert id="insertPayment" parameterType="PaymentVO">
		<selectKey order="BEFORE" keyProperty="pay_no" resultType="String">
			SELECT NVL(MAX(PAY_NO),0)+1 FROM PAYMENT
		</selectKey>
			INSERT INTO PAYMENT(PAY_NO,PAY_PRICE,RESV_NO)
			VALUES(#{pay_no},#{pay_price},#{resv_no})
	</insert>
	
	<select id="getImages" resultType="map" parameterType="images">
		SELECT * FROM IMAGES
		<where>
			<if test="resv_no != null and resv_no != ''">
				RESV_NO = #{resv_no}
			</if>
		</where>
		ORDER BY IMG_DATE
	</select>
	<select id="getQuestionInfo" resultType="QuestionVO" >
		SELECT * FROM QUESTION
		<where>
			<if test="qust_no != null and qust_no != ''">
				QUST_NO=#{qust_no}
			</if>
		</where>
	</select>
</mapper>