<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.DiagMapper">
	<select id="getResvList" resultType="map" parameterType="resvSearch">
		SELECT R.RESV_NO, 
		R.RESV_DATE || ' ' || R.RESV_TIME AS RESV_DATETIME, 
		B.BABY_NAME, 
		B.BABY_REGNO1, 
		B.BABY_NO
		FROM RESERVATION R, BABY B
		WHERE R.BABY_NO = B.BABY_NO
		ORDER BY RESV_NO
	</select>
	
		<select id="getResvHistList" resultType="map"
		parameterType="reservation">
		SELECT R.RESV_NO, TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') AS RESV_DATE,
		R.RESV_DETAIL, R.BABY_NO, D.DIAG_PHOTO
		FROM RESERVATION R LEFT JOIN
		DIAGNOSIS D
		ON R.RESV_NO = D.RESV_NO
		<where>
			<if test="baby_no != null and baby_no != ''">
				BABY_NO = #{baby_no}
			</if>
		</where>
		ORDER BY RESV_NO
	</select>
	
	<select id="getInfoList" resultType="map">
		SELECT * FROM DIAGVIEW1
			<if test="baby_no != null and baby_no != ''">
		WHERE BABY_NO = #{baby_no}
			</if>
	</select>
	
	<select id="getUniqInfo" resultType="map"
		parameterType="reservation">
		SELECT * FROM RESERVATION
		<where>
			<if test="resv_no != null and resv_no != ''">
				RESV_NO = TO_CHAR(#{resv_no})
			</if>
		</where>
	</select>
</mapper>