<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.EmployeeMapper">

	<!-- 로그인 단건조회 -->
	<select id="getEmp" parameterType="employeeVO"
		resultType="employeeVO">
		SELECT * <!-- 사원번호 -->

		FROM employee
		WHERE emp_no = #{emp_no}
		AND emp_pwd = #{emp_pwd}
	</select>

	<select id="getEmpList" resultType="emp">
		SELECT *
		FROM employee
		WHERE
		emp_no = #{emp_no}
	</select>


	<!-- 전체조회 -->
	<!-- <select id="getEmpList" resultType="emp"> SELECT rownum id, e.* FROM 
		employees e <where> <if test="departmentId != null"> department_id = #{departmentId} 
		</if> <if test="employeeId != null"> and employee_id = #{employeeId} </if> 
		<if test="salary != null"> <![CDATA[ and salary < #{salary} ]]> </if> <if 
		test="firstName != null"> and upper(first_name) like '%' || upper(#{firstName}) 
		|| '%' </if> <if test="employeeIds != null"> and employee_id in <foreach 
		collection="employeeIds" item="id" open="(" close=")" separator=","> #{id} 
		</foreach> </if> </where> ORDER BY first_name </select> -->




	<!-- 사원등록 -->
	<insert id="insertEmp" parameterType="emp">
		INSERT INTO EMPLOYEES (
		employee_id,
		first_name,
		last_name,
		email,
		hire_date,
		job_id
		)
		VALUES(
		#{employeeId},
		#{firstName},
		#{lastName},
		#{email},
		#{hireDate},
		#{jobId})
	</insert>

	<select id="getCountMsg" parameterType="employeeVO"
		resultType="int">
		select count(msg_no) from message where emp_resvno =
		#{emp_no} and msg_yn='N'
	</select>

	<select id="showNotReadMsg" parameterType="employeeVO"
		resultType="messageVO">
		select m.msg_yn,m.msg_cont,to_char(m.msg_date,'YYYY-MM-DD')
		as msg_date,e.emp_name,e.emp_profile from message m,employee e 
		where e.emp_no = m.EMP_SENDNO and m.emp_resvno = #{emp_no} order by msg_yn
	</select>



</mapper>
