<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.MainHeaderMapper">

	<select id="logInAction" parameterType="parentVO"
		resultType="parentVO">
		select * from parent where parent_id = #{parent_id} and parent_temppw = #{parent_pw} 
	</select>

	<insert id="kakaoRegisterAction" parameterType="parentVO">
		<selectKey order="BEFORE" keyProperty="parent_no"
			resultType="string">
			SELECT NVL(MAX(PARENT_NO),0)+1 FROM PARENT
		</selectKey>
		insert into
		parent(parent_no,parent_name,parent_tel,parent_addr,parent_email,parent_regno1,parent_regno2,parent_id,parent_pw,parent_img,parent_sns)
		values(#{parent_no}
		,#{parent_name}
		,#{parent_tel}
		,#{parent_addr}
		,#{parent_email}
		,#{parent_regno1}
		,#{parent_regno2}
		,#{parent_id}
		,#{parent_pw}
		,#{parent_img}
		,'social'
		)
	</insert>



	<insert id="registerAction" parameterType="parentVO">
		<selectKey order="BEFORE" keyProperty="parent_no"
			resultType="string">
			SELECT NVL(MAX(PARENT_NO),0)+1 FROM PARENT
		</selectKey>
		insert into
		parent(parent_no,parent_name,parent_tel,parent_addr,parent_email,parent_regno1,parent_regno2,parent_id,parent_pw)
		values(#{parent_no}
		,#{parent_name}
		,#{parent_tel}
		,#{parent_addr}
		,#{parent_email}
		,#{parent_regno1}
		,#{parent_regno2}
		,#{parent_id}
		,#{parent_pw}
		)
	</insert>

	<select id="alertCntAction" parameterType="parentVO"
		resultType="int">
		select count(alert_no) from alert where BABY_NO in (select
		baby_no from baby where parent_no = #{parent_no}) and
		to_char(ALERT_DATE,'YY/MM/DD')= to_char(SYSDATE,'YY/MM/DD')
	</select>

	<select id="checkId" parameterType="parentVO"
		resultType="parentVO">
		select * from parent where parent_id = #{parent_id}
	</select>

	<select id="checkEmail" parameterType="parentVO"
		resultType="parentVO">
		select * from parent where parent_email = #{parent_email}
	</select>

	<select id="alertInf" parameterType="parentVO" resultType="map">
		<![CDATA[
		select a.alert_no ,to_char(a.ALERT_DATE,'YY/MM/DD') as ALERT_DATE
		,a.ALERT_TITLE,a.ALERT_CONT,b.BABY_PIC
		from alert a,baby b ,parent p
		where a.BABY_NO = b.BABY_NO and
		p.PARENT_NO = b.PARENT_NO and
		p.parent_no = #{parent_no} and
		to_char(a.ALERT_DATE,'YY/MM/DD')=to_char(SYSDATE,'YY/MM/DD')
		and ROWNUM <= 5 
		order by a.alert_no
		]]>
	</select>

	<delete id="deleteAlert" parameterType="alertVO">
		DELETE FROM alert
		WHERE
		alert_no = #{alert_no}
	</delete>


	<select id="findIdInf" parameterType="parentVO" resultType="parentVO">
		select * from parent where parent_name = #{parent_name} and parent_email = #{parent_email}
	</select>
	
	<select id="findPwInf" parameterType="parentVO" resultType="parentVO">
		select * from parent where parent_id = #{parent_id} and parent_email = #{parent_email}
	</select>

	<update id="changeTempPw" parameterType="ParentVO">
		update parent set parent_temppw= #{parent_temppw}
		where parent_id=#{parent_id}
	</update>




</mapper>
