<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sale_mapper.xml -->
<mapper namespace="com.hokwang.mobile.dao.MypageMapper">
	<select id="getParentInf" resultType="ParentVO">
		select *
		from parent 
		where parent_no = #{parent_no}
	</select>

	<update id="updateparentinfo" parameterType="ParentVO">
		update parent set 
						<if test="parent_name != null and parent_name != ''">
						parent_name=#{parent_name},
						</if>
						<if test="parent_tel != null and parent_tel != ''">
						parent_tel=#{parent_tel},
						</if>
						<if test="parent_addr != null and parent_addr != ''">
						parent_addr=#{parent_addr},
						</if>
						<if test="parent_email != null and parent_email != ''">
						parent_email=#{parent_email}
						</if>
		where parent_no = #{parent_no}
	</update>
	<update id="imgUpdate" parameterType="ParentVO">
		update parent set parent_img=#{parent_img}
		where parent_no=#{parent_no}
	</update>
	
	<!-- 비밀번호 수정 -->
	<update id="updatePw" parameterType="ParentVO">
		update parent
		set
		<if test="parent_pw != null and parent_pw != ''">
			parent_pw = #{parent_pw}
		</if>
			where parent_no=#{parent_no}
		
	</update>
	<!-- 이메일중복체크 -->
	<select id="chkEmail" parameterType="parentVO"
		resultType="parentVO">
		select * from parent where parent_email = #{parent_email}
	</select>
	
	
	

</mapper>
