<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.ResvMapper">
	<select id="getResvList" resultType="map"
		parameterType="resvSearch">
		SELECT R.RESV_NO, TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') || ' ' || R.RESV_TIME AS RESV_DATETIME,
		B.BABY_NAME, B.BABY_REGNO1, B.BABY_NO, R.RESV_ROOM
		FROM RESERVATION R, BABY B
		WHERE R.BABY_NO = B.BABY_NO
		<if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
			<if test="searchType == 'chkType' and keyword == 'today'">
				AND TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			</if>
		</if>
		ORDER BY R.RESV_NO, R.RESV_TYPE
	</select>
	
	<select id="getResvHistList" resultType="map"
		parameterType="reservation">
		SELECT * FROM RESERVATION
		<where>
			<if test="baby_no != null and baby_no != ''">
				BABY_NO = ${baby_no}
			</if>
		</where>
		ORDER BY RESV_NO
	</select>
</mapper>