<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.ResvMapper">
	<select id="getResvList" resultType="map">
		SELECT R.RESV_NO, R.RESV_DATE || ' ' || R.RESV_TIME AS
		RESV_DATETIME, B.BABY_NAME, B.BABY_REGNO1
		FROM RESERVATION R, BABY B
		WHERE R.BABY_NO = B.BABY_NO
		ORDER BY RESV_NO
	</select>
</mapper>