<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.mobile.dao.ResvmMapper">
	<select id="getChildList" resultType="babyVO"
		parameterType="babyVO">
		SELECT * FROM BABY
		<where>
			<if test="parent_no != null and parent_no != ''">
				PARENT_NO = #{parent_no}
			</if>
			<if test="baby_no != null and baby_no != ''">
				BABY_NO = #{baby_no}
			</if>
		</where>
	</select>

	<select id="getVacList" resultType="checkupVO">
		SELECT * FROM CHECKUP
		<where>
			<if test="baby_no != null and baby_no != ''">
				CHK_NO NOT IN(SELECT H.CHK_NO
				FROM CHECKHIST H,
				RESERVATION R
				WHERE R.BABY_NO = #{baby_no})
			</if>
		</where>
		ORDER BY CHK_NO
	</select>

	<select id="getCntTimeList" resultType="map"
		parameterType="reservation">
		SELECT COUNT(RESV_TIME) CNT,
		RESV_TIME
		FROM RESERVATION
		WHERE TO_CHAR(RESV_DATE, 'YYYY-MM-DD') = #{resv_date}
		GROUP BY
		RESV_TIME
		ORDER BY 2
	</select>

	<insert id="alertInsert" parameterType="alertVO">
		<selectKey order="BEFORE" keyProperty="alert_no"
			resultType="String">
			SELECT NVL(MAX(ALERT_NO),0)+1 FROM ALERT
		</selectKey>
		INSERT INTO
		ALERT(ALERT_NO,ALERT_CONT,ALERT_TITLE,ALERT_DATE,ALERT_SEND,BABY_NO)
		VALUES
		(#{alert_no},
		#{alert_cont},
		#{alert_title},
		SYSDATE,
		#{alert_send},
		#{baby_no})
	</insert>

	<insert id="questInsert" parameterType="questionVO">
		INSERT INTO
		QUESTION(QUST_NO,A1,A2,A3,A4)
		VALUES (#{qust_no},
		#{a1},
		#{a2}, #{a3},
		#{a4})
	</insert>

	<update id="questUpdate" parameterType="questionVO">
		UPDATE QUESTION
		SET A1 = #{a1},
		A2 = #{a2},
		A3 = #{a3},
		A4 = #{a4}
		
		<if test="nresv_no != null and nresv_no != ''">
		, QUST_NO = #{nresv_no}
		</if>
		<where>
			QUST_NO = #{qust_no}
		</where>
	</update>

	<delete id="questDelete" parameterType="questionVO">
		DELETE FROM QUESTION
		WHERE QUST_NO = #{qust_no}
	</delete>

	<select id="checkResvNo" parameterType="reservation" resultType="map">
		SELECT RESV_NO FROM RESERVATION WHERE RESV_NO = #{resv_no}
	</select>

	<insert id="resvInsert" parameterType="reservation">
		<!-- <selectKey order="BEFORE" keyProperty="resv_no" -->
		<!-- resultType="String"> -->
		<!-- SELECT NVL(MAX(RESV_NO),0)+1 FROM RESERVATION -->
		<!-- </selectKey> -->
		INSERT INTO RESERVATION(resv_no, resv_date, resv_time
		<if test="resv_detail != null and resv_detail != ''">
			, resv_detail
		</if>
		<if test="resv_memo != null and resv_memo != ''">
			, resv_memo
		</if>
		, baby_no
		<if test="chk_no != null and chk_no != ''">
			, chk_no
		</if>
		, chk_type, resv_type)
		VALUES (#{resv_no},
		#{resv_date}, #{resv_time}
		<if test="resv_detail != null and resv_detail != ''">
			, #{resv_detail}
		</if>
		<if test="resv_memo != null and resv_memo != ''">
			, #{resv_memo}
		</if>
		, #{baby_no}
		<if test="chk_no != null and chk_no != ''">
			, #{chk_no}
		</if>
		, #{chk_type}, #{resv_type})
	</insert>

	<update id="resvUpdate" parameterType="reservation">
		update reservation
		set RESV_TYPE = #{resv_type}
		, CHK_TYPE = #{chk_type}
		, RESV_DATE = #{resv_date}
		<if test="resv_time != null and resv_time != '' and resv_time != 'undefined'">
		, RESV_TIME = #{resv_time}
		</if>
		<if test="nresv_no != null and nresv_no != ''">
		, RESV_NO = #{nresv_no}
		</if>
		<if test="resv_detail != null and resv_detail != ''">
			, RESV_DETAIL = #{resv_detail}
		</if>
		<if test="resv_memo != null and resv_memo != ''">
			, RESV_MEMO = #{resv_memo}
		</if>
		<if test="chk_no != null and chk_no != ''">
			, CHK_NO = #{chk_no}
		</if>
		<where>
			RESV_NO = #{resv_no}
		</where>
	</update>

	<delete id="resvDelete" parameterType="reservation">
		DELETE FROM RESERVATION
		WHERE RESV_NO = #{resv_no}
	</delete>

	<select id="getResvInfo" resultType="map"
		parameterType="reservation">
		SELECT R.RESV_NO, TO_CHAR(R.RESV_DATE, 'YYYY-MM-DD') RESV_DATE,
		R.RESV_TIME, R.RESV_STATUS, R.RESV_DETAIL, R.RESV_MEMO, R.RESV_TYPE,
		R.CHK_TYPE, R.CHK_NO, Q.*
		FROM RESERVATION R
		LEFT JOIN QUESTION Q ON
		R.RESV_NO = Q.QUST_NO
		<where>
			<if test="resv_no != null and resv_no != ''">
				R.RESV_NO = #{resv_no}
			</if>
		</where>
	</select>
</mapper>