<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.mobile.dao.ResvmMapper">
	<select id="getChildList" resultType="babyVO"
		parameterType="babyVO">
		SELECT * FROM BABY
		<where>
			<if test="parent_no != null and parent_no != ''">
				PARENT_NO = #{parent_no}
			</if>
			<if test="baby_no != null and baby_no != ''">
				BABY_NO = #{baby_no}
			</if>
		</where>
	</select>
	<select id="getVacList" resultType="checkupVO">
		SELECT * FROM CHECKUP
	</select>
</mapper>