<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hokwang.dao.ScheMapper">
<!-- 전체 조회 -->
	<select id="getScheList" parameterType="ManagementVO" resultType="ManagementVO">
		SELECT *
		FROM management
	</select>
<!-- 일정 등록 -->
<insert id="insertSche" parameterType="ManagementVO">
	<selectKey order="BEFORE" keyProperty="work_no" resultType="string">
		SELECT NVL(MAX(WORK_NO),0)+1 FROM MANAGEMENT
	</selectKey>
	INSERT INTO MANAGEMENT( work_no,
							work_date,
							work_stdate,
							work_endate,
							work_ctg,
							work_cause
							)
						VALUES(
								#{work_no},
								#{work_date},
								#{work_stdate},
								#{work_endate},
								#{work_ctg},
								#{work_cause})
						
</insert>


</mapper>